---
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "GET") {
	return Astro.redirect("https://discord.gg/JSAszyCEW5");
}
---

<Layout title="Discord">
  <main class="min-h-screen flex items-center justify-center">
    <p class="text-white/80">Redirecting to Discord...</p>
  </main>
</Layout>
