---
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "GET") {
	return Astro.redirect("https://github.com/iahispano/applio");
}
---

<Layout title="Redirecting to GitHub">
  <main class="min-h-screen flex items-center justify-center">
    <p class="text-white/80">Redirecting to GitHub...</p>
  </main>
</Layout>
